/*Стили для логина и регистрации
----------------------------------
*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none; /* Убираем подчеркивание у всех ссылок */
}

.login-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
}

.login-container h2 {
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px auto;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #368639;
}


/* Общие стили для шапки
---------------------------*/
.sticky {
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000; /* Чтобы шапка была поверх других элементов */
    background-color: #ffffff; /* Цвет фона шапки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Добавим тень для выделения */
    margin-top: 4px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Отступы для контейнера навигации */
}

.logo {
    font-size: 24px; /* Размер логотипа */
    color: #333333; /* Цвет текста логотипа */
}

.menu {
    list-style-type: none; /* Убираем маркеры у списка */
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block; /* Элементы меню располагаются горизонтально */
    margin-right: 20px; /* Отступ между пунктами меню */
}

.menu li a {
    color: #333333; /* Цвет текста ссылок в меню */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    transition: color 0.5s; /* Анимация изменения цвета текста */
}

.menu li a:hover {
    color: #4caf50; /* Цвет текста ссылок при наведении */
}
.logout-button {
    /* Стили для кнопки выхода */
    padding: 8px 12px;
    background-color: #4caf50; /* Зеленый цвет кнопки */
    color: #ffffff; /* Белый цвет текста кнопки */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.logout-button:hover {
    /* Стили для наведения на кнопку выхода */
    background-color: #368639; /* Зеленый цвет кнопки при наведении */
}

.add-button {
    /* Стили для кнопки добавления */
    padding: 8px 12px;
    background-color: #af4ca2; /* Фиолетовый цвет кнопки */
    color: #ffffff; /* Белый цвет текста кнопки */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.add-button:hover {
    /* Стили для наведения на кнопку добавления */
    background-color: #7b3686; /* Фиолетовый цвет кнопки при наведении */
}


/*
Стили для всплывашки
 */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #d58b75;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
}

.popup:target {
    display: block;
}

.popup form input[type="text"],
.popup form input[type="submit"],
.popup form textarea
{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    align-items: center;
}

.popup form select
{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.popup form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup form input[type="submit"]:hover {
    background-color: #368639;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.overlay:target {
    display: block;
}

.weapons-container {
    margin-top: 0; /* Убираем верхний отступ */
    max-width: max-content;
    padding: 15px;
    margin-left: auto; /* Размещаем контейнер слева */
    margin-right: auto; /* и справа */
    align-self: flex-start;
    display: block; /* Делаем блочный элемент */
}

.weapons-gallery table {
    width: 100%;
    border-collapse: collapse;
    position: static;
}

.weapons-gallery th, .weapons-gallery td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.weapons-gallery th {
    background-color: #af4ca2;
}

.weapons-gallery tr:hover {
    background-color: #f5f5f5;
}

