<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FuncTools</title>
    <link rel="stylesheet" href="static/mystyle.css">
</head>
<body>
<div class="login-container">
    <h2>Регистрация</h2>
    <form action="/register_confirm" method="post">
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="text" name="email" placeholder="Электронная почта" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="submit" name="submit_button" value="Зарегистрироваться">
    </form>
</div>
</body>
</html>
